#Postgres
PG_PASSWORD="Postgress Password"
PG_USER="Postgress User" PG_NAME="DB Name"
PG_PORT="Postgress port"
PG_HOST="Postgress Host"
#Application
PORT="application Port"
#refreshToken
REFRESH_TOKEN_SECRET="refreshTokenSecret"
REFRESH_TOKEN_EXPIRE=refreshTokenExpire
#AccessToken
ACCESS_TOKEN_SECRET=AccessTokenSecret
ACCESS_TOKEN_EXPIRE=AccessTokenExpire
#Redis
REDIS_PORT=redisPort
REDIS_HOST=RedisHost
#Smtp
SMTP_USERNAME="SMTP Username"
SMTP_PASSWORD="SMTP PaSSWORD"
SMTP_PROVIDER= "SMTP PROVIDER " #Gmail|yahoo
# Your S3 storage info
S3_END_POINT_URL="s3 endpoint"
s3_BUCKET_NAME="bucket name"
S3_ACCESS_KEY="s3 Access key"
S3_SECRET_KEY="s3 Secret Key"
